/* Minimalist style extension menu */

#unified-extensions-view,
#widget-overflow-mainView {
	width: fit-content !important;

	.widget-overflow-list,
	#widget-overflow-fixed-list,
	.overflowed-extensions-list,
	#unified-extensions-area {
		display: grid !important;
		grid-template-columns: repeat(5, 1fr) !important;
		justify-items: center !important;

		& > .toolbarbutton-1,
		& > .toolbaritem-combined-buttons,
		& > toolbarpaletteitem,
		& > .unified-extensions-item {
			width: 60.6px !important;
			height: 60.6px !important;
			max-width: none !important;
			max-height: none !important;
			padding: 0 !important;
			margin: 0 !important;

			image {
				height: 26px !important;
				width: 26px !important;
				margin: auto !important;
			}
		}

		& > toolbarpaletteitem#wrapper-edit-controls,
		& > toolbarpaletteitem#wrapper-zoom-controls,
		& > .toolbaritem-combined-buttons#zoom-controls,
		& > .toolbaritem-combined-buttons#edit-controls {
			grid-column: span 3;
			width: 181.8px !important;
		}

		/* Animation for widget overflow list re-arrangement */
		&:is(.widget-overflow-list, #widget-overflow-fixed-list)
			> toolbarpaletteitem:not([notransition])[place="panel"] {
			border-block-width: 0 !important;
			transition: padding var(--drag-drop-transition-duration) ease-in-out !important;

			&[dragover="before"] {
				padding-inline-start: 20px !important;
			}

			&[dragover="after"] {
				padding-inline-end: 20px !important;
			}
		}
	}

	.unified-extensions-list,
	.unified-extensions-item-contents,
	.unified-extensions-item-menu-button,
	#unified-extensions-empty-state,
	.subviewbutton-nav::after,
	toolbarbutton:not(
			#zoom-reset-button,
			#overflowMenu-customize-button,
			#unified-extensions-manage-extensions
		)
		> .toolbarbutton-text {
		display: none !important;
	}
}

#customization-panelHolder > #widget-overflow-mainView::before {
	display: none !important;
}

:is(panelview, #widget-overflow-mainView) .toolbaritem-combined-buttons {
	margin: 0 !important;
}

#widget-overflow-mainView .toolbarbutton-1,
#unified-extensions-view
	#unified-extensions-area
	.unified-extensions-item-action-button,
#unified-extensions-view
	#overflowed-extensions-list
	.unified-extensions-item-action-button {
	width: 100% !important;
	height: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
}

#widget-overflow-mainView .toolbarbutton-1 > .toolbarbutton-badge-stack,
#unified-extensions-view
	#unified-extensions-area
	.unified-extensions-item-action-button
	> .toolbarbutton-badge-stack,
#unified-extensions-view
	#overflowed-extensions-list
	.unified-extensions-item-action-button
	> .toolbarbutton-badge-stack,
#unified-extensions-view
	.unified-extensions-list
	.unified-extensions-item-action-button {
	display: grid !important;
	width: 100% !important;
	height: 100% !important;
	padding: 20% !important;
	margin: 0 !important;
	justify-content: center;
	align-items: center;
}

#unified-extensions-view .subviewbutton {
	margin: 0 !important;
}
