@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
	--macos-mini-tabbar-height: 24px;
	--macos-mini-tabbar-min-width: 60px;
	--macos-mini-tabbar-max-width: 280px;

	--macos-tabbar-tab-background: var(--macos-tabstoolbar-background) !important;
	--macos-tabbar-tab-active-background: color-mix(
		in srgb,
		var(--macos-tabstoolbar-background) 90%,
		currentColor
	) !important;
	--macos-tabbar-tab-active-hover-background: color-mix(
		in srgb,
		var(--macos-tabstoolbar-background) 95%,
		currentColor
	) !important;
	--macos-inactive-tabbar-tab-active-background: var(--macos-tabbar-tab-active-background) !important;
	--macos-hover-urlbar-border-color: var(--macos-tabbar-tab-active-background) !important;

	@media (prefers-color-scheme: light) {
		--macos-tabbar-tab-active-background: color-mix(
			in srgb,
			var(--macos-tabstoolbar-background) 90%,
			currentColor
		) !important;
		--macos-tabbar-tab-active-hover-background: color-mix(
			in srgb,
			var(--macos-tabstoolbar-background) 95%,
			currentColor
		) !important;
	}
}

/* Tab bar top border */
#TabsToolbar {
	border-top: 1px solid var(--macos-tabbar-border-color) !important;

	/* Move tab bar content 2px upwards */
	.toolbar-items {
		margin-block: -2px 2px !important;
	}
}

/* Tab centering */
#tabbrowser-arrowscrollbox:not([overflowing]) {
	--tab-centering: center !important;
}

/* Tabs auto wrap */
scrollbox[orient="horizontal"] > slot {
	justify-content: var(--tab-centering, initial) !important;
	flex-wrap: wrap !important;
}

#scrollbutton-up,
#scrollbutton-down {
	display: none !important;
}

/* Tabs bar height */
#tabbrowser-tabs {
	&,
	#tabbrowser-arrowscrollbox,
	.tab-stack {
		height: unset !important;
		min-height: var(--macos-mini-tabbar-height) !important;
	}
}

/* Tabs */
.tabbrowser-tab {
	height: var(--macos-mini-tabbar-height) !important;
	min-height: unset !important;

	&[pinned] {
		.tab-label-container {
			display: none !important;
		}
	}

	&:not([pinned]) {
		flex: 0 auto !important;
		min-width: var(--macos-mini-tabbar-min-width) !important;
		max-width: var(--macos-mini-tabbar-max-width) !important;

		.tab-close-button {
			display: none !important;
		}

		&:hover {
			.tab-close-button {
				display: flex !important;
			}

			.tab-icon-stack {
				display: none !important;
			}
		}

		&:not([style^="max-width"]),
		&[style^="max-width: 100px !important;"] {
			max-width: var(--macos-mini-tabbar-max-width) !important;
		}
	}
}

/* Fix tabs height */
.tabbrowser-tab .tab-background:not([selected]),
#TabsToolbar-customization-target .toolbarbutton-1 {
	border-top: none !important;
}

.tab-background {
	transition: none !important;
	border-radius: 6px !important;
	border: 0 !important;
	margin: 2px !important;
	min-height: unset !important;
}

.tab-content {
	margin: 0 !important;
	padding: 0 8px !important;
}

/* Clears pre-defined dimension */
.tab-icon-stack,
.tab-icon-image,
.tab-throbber,
.tab-throbber-fallback,
.tab-close-button,
.tab-sharing-icon-overlay {
	width: 12px !important;
	height: 12px !important;
	margin: 0 !important;
	border-radius: 2px !important;
}

/* Small audio button hack */
.tab-audio-button {
	--button-size-icon-small: 12px !important;
	--button-min-height-small: 12px !important;
	width: 12px !important;
	height: 12px !important;
	margin: 0 !important;
	height: 100% !important;
	padding-top: 2px !important;
}

.tab-label {
	margin: 0 !important;
}

.tab-secondary-label,
.tab-icon-overlay {
	display: none !important;
}

/* Search bar & URL bar border */
#searchbar,
#urlbar #urlbar-input-container {
	box-shadow: inset 0 0 0 1px var(--macos-hover-urlbar-border-color) !important;
}

/* Text overflow effect */
stack[muted="true"] + .tab-label-container[textoverflow],
stack[soundplaying="true"] + .tab-label-container[textoverflow] {
	mask-image: linear-gradient(to left, transparent, black var(--tab-label-mask-size)) !important;
}

.tab-throbber::before {
	background-size: cover !important;
}

@media (prefers-reduced-motion: no-preference) {
	.tab-throbber[busy]::before {
		width: 360px !important;
	}
}
