/* Replaces Simplified Chinese fonts */

/* Also import to CSS injection add-on (e.g. Stylish) for better result */

/* To be imported to userContent.css */

@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@font-face {
	src: local("serif");
	font-family: "noto serif sc";
}

@font-face {
	src: local("serif");
	font-family: "SongTi SC";
}

@font-face {
	src: local("sans-serif");
	font-family: "noto sans sc";
}

@font-face {
	src: local("sans-serif");
	font-family: "PingFang SC";
}

@font-face {
	src: local("sans-serif");
	font-family: "Hiragino Sans GB";
}

@font-face {
	src: local("sans-serif");
	font-family: "Microsoft YaHei UI";
}

@font-face {
	src: local("sans-serif");
	font-family: "Microsoft YaHei";
}

@font-face {
	src: local("sans-serif");
	font-family: "Microsoft Yahei";
}

@font-face {
	src: local("sans-serif");
	font-family: "SF Pro SC";
}
