/* Header bar */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

#nav-bar {
	padding: 8px 16px 8px 86px !important;
	margin: 0 !important;
	transition: none !important;

	/* Header bar CSD colours */
	:root & {
		border: none !important;
		border-bottom: none !important;
		box-shadow: none !important;

		&:-moz-window-inactive {
			box-shadow: none !important;
		}
	}

	/* Clears pre-defined values */
	#nav-bar-customization-target,
	toolbarbutton,
	toolbaritem {
		margin: 0 !important;
		padding: 0 !important;
		background-color: transparent !important;
	}

	/* Header bar buttons appearance */
	& > toolbarbutton,
	& > toolbaritem toolbarbutton,
	#nav-bar-customization-target > toolbarbutton,
	#nav-bar-customization-target > toolbaritem:not(#urlbar-container):not(#search-container) toolbarbutton,
	/* During toolbar customisation */
	#nav-bar-customization-target > toolbarpaletteitem > toolbarbutton,
	#nav-bar-customization-target
		> toolbarpaletteitem
		> toolbaritem:not(#urlbar-container):not(#search-container)
		toolbarbutton {
		margin-inline: 2px !important;
		outline: none !important;
		border: none !important;
		box-shadow: none !important;
		background-color: transparent !important;
		border-radius: var(--macos-headerbar-border-radius) !important;
		height: var(--macos-headerbar-content-height) !important;
		width: var(--macos-headerbar-content-height) !important;
		color: var(--macos-headerbar-color) !important;
	}

	/* Header bar buttons :hover & :active */
	& > toolbarbutton,
	& > toolbaritem toolbarbutton,
	#nav-bar-customization-target > toolbarbutton,
	#nav-bar-customization-target > toolbaritem:not(#urlbar-container):not(#search-container) toolbarbutton {
		&:not([disabled]) {
			/* :hover */
			&:not([checked]):hover {
				background-color: var(--macos-headerbar-button-hover-background) !important;
			}

			/* :active */
			&:is(:not(#hack):active, [open], [checked]) {
				background-color: var(--macos-headerbar-button-active-background) !important;
			}
		}
	}

	/* Monoschrome add-on buttons */
	.unified-extensions-item .toolbarbutton-icon {
		filter: saturate(0%) brightness(120%) !important;
	}

	/* Header bar spacer */
	toolbarspring,
	toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"] {
		flex: 500 500 !important;
		max-width: 10000px !important;
	}

	/* Header bar URL bar & search bar dimensions */
	#nav-bar-customization-target > toolbaritem:is(#urlbar-container, #search-container),
	/* During toolbar customisation */
	#nav-bar-customization-target
		> toolbarpaletteitem
		> toolbaritem:is(#urlbar-container, #search-container) {
		outline: none !important;
		border: none !important;
		box-shadow: none !important;
		background-color: transparent !important;
		padding: 0 !important;
		margin: 0 2px !important;
		height: var(--macos-headerbar-content-height) !important;
	}
}
