/* URL bar badges & buttons, URL bar dropdown menu */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

#urlbar-customization-target {
	max-height: 36px !important;
}

/* Badge on the left */
.urlbar-input-container {
	#identity-box,
	#urlbar-label-box,
	#tracking-protection-icon-container,
	toolbarbutton#urlbar-searchmode-switcher,
	.searchmode-switcher-chicklet {
		margin: 0 !important;
		padding: 6px !important;

		#identity-icon,
		.searchmode-switcher-icon,
		#tracking-protection-icon-box,
		#tracking-protection-icon {
			width: 16px !important;
			height: 16px !important;
		}

		#identity-icon-label,
		.searchmode-switcher-title {
			font-size: 0.75em !important;
		}
	}

	/* Background colour */
	.identity-box-button,
	.notification-anchor-icon,
	toolbarbutton#urlbar-searchmode-switcher,
	.searchmode-switcher-chicklet,
	#tracking-protection-icon-container {
		&:not([open="true"]) {
			opacity: 0.7 !important;
			background-color: transparent !important;
		}
		&:hover:not([open="true"]) {
			opacity: 1 !important;
			background-color: transparent !important;
		}
		&:hover:active,
		&[open="true"] {
			opacity: 1 !important;
			background-color: transparent !important;
		}
	}

	#identity-icon-box {
		padding: 0 !important;
	}
}

/* Buttons to the right */
#urlbar-go-button,
.search-go-button,
.urlbar-page-action,
.urlbar-revert-button-container {
	opacity: 0.7 !important;
	background-color: transparent !important;

	&:hover,
	&[open],
	&:hover:active {
		opacity: 1 !important;
		background-color: transparent !important;
	}

	&.urlbar-page-action,
	&.urlbar-revert-button-container {
		width: 28px !important;
		height: 28px !important;
		padding: 0 !important;
	}

	&[disabled] {
		opacity: 0.5 !important;
	}
}

#urlbar-go-button,
.search-go-button,
.urlbar-icon,
.urlbar-revert-button {
	height: 16px !important;
	width: 16px !important;
	margin: auto !important;
	padding: 0 !important;
	fill: currentColor !important;
	fill-opacity: 1 !important;
	filter: saturate(0%) brightness(120%) !important;
}

/* URL bar and Search bar */
#urlbar[focused] .urlbar-textbox-container {
	margin: -1px !important;
}

#searchbar > .searchbar-textbox[focused] .searchbar-search-button {
	margin-left: -1px !important;
}

#searchbar > .searchbar-textbox[focused] .search-go-button {
	margin-right: -1px !important;
}

/* URL bar and Search bar's icons */
.urlbar-icon,
.urlbar-icon-wrapper {
	&:hover,
	&[open],
	&:hover:active {
		background-color: transparent !important;
		fill-opacity: 1 !important;
	}
}

.searchbar-search-button {
	&:hover .searchbar-search-icon,
	&[open] .searchbar-search-icon,
	&:hover:active .searchbar-search-icon {
		background-color: transparent !important;
		fill-opacity: 1 !important;
	}
}

#notification-popup-box {
	height: auto !important;
	&:hover {
		background-color: transparent !important;
	}
}

/* Search mode indicator */
#urlbar-search-mode-indicator {
	font-size: 75%;
	margin-block: 5px;
}

/* Centre URL bar text input */
#urlbar-input {
	position: absolute;
	width: 50%;
	height: 100%;
	text-align: center !important;
	transform: translateX(50%);
	transition: transform 0.3s cubic-bezier(0, 0.7, 0.3, 1);

	#urlbar[focused] & {
		transform: translateX(0);
		width: 100%;
		text-align: left !important;
	}

	/* Text fading effect */
	#urlbarnot:not([focused]) & {
		mask-image: linear-gradient(to left, transparent, black 3ch);
	}
}

/* URL bar popup */
.urlbarView {
	width: 100% !important;
	padding: 4px !important;
	margin: 4px 0 !important;
	border-radius: var(--macos-menu-border-radius) !important;
	background: var(--macos-menu-background) !important;
	border: var(--macos-menu-border) !important;
	outline: var(--macos-menu-outline) !important;
	box-shadow: 0 0 15px #00000040 !important;

	.urlbarView-row-inner,
	.urlbarView-row {
		min-height: 0 !important;
		padding: 0 !important;
		align-items: center !important;
		border-radius: 4px !important;
	}

	.urlbarView-row-inner {
		padding-inline: 10px !important;
		padding-block: 2px !important;
	}

	.urlbarView-favicon {
		width: 12px !important;
		height: 12px !important;
	}

	.urlbarView-action,
	.urlbarView-url {
		visibility: visible !important;
		margin: 0 !important;
		padding-inline: 0 !important;
		color: inherit !important;
		opacity: 0.6 !important;
	}

	.urlbarView-results {
		padding-block: 0 !important;

		&[wrap]
			> .urlbarView-row
			> .urlbarView-row-inner
			> .urlbarView-no-wrap {
			flex-basis: 0 !important;
		}
		&[wrap] > .urlbarView-row > .urlbarView-row-inner {
			flex-wrap: nowrap !important;
		}
	}

	.urlbarView-row[label] {
		margin-block-start: 2.5em !important;

		&::before {
			top: -2.5em !important;
			width: calc(100% - 18px) !important;
			padding-block-start: 6px !important;
			margin-inline: 9px !important;
			color: var(--macos-menu-separator-color) !important;
			font-weight: 700 !important;
			border-top: 1px solid var(--macos-menu-separator-color) !important;
		}
	}

	.urlbarView-row,
	.urlbarView-row[selected] {
		background-color: transparent !important;
	}

	.urlbarView-row[selected] {
		color: inherit !important;
	}

	.urlbarView-row:not([type="tip"], [type="dynamic"])[selected]
		> .urlbarView-row-inner,
	.urlbarView-row-inner[selected] {
		background-color: var(--macos-menu-button-hover-background) !important;
		color: inherit !important;
	}

	.urlbarView-row:not([type="tip"], [type="dynamic"], [has-buttons]):hover
		> .urlbarView-row-inner,
	.urlbarView-row[dynamicType="onboardTabToSearch"]:hover
		> .urlbarView-row-inner,
	.urlbarView-row[has-buttons] > .urlbarView-row-inner:not([selected]):hover {
		background-color: var(--macos-menu-item-hover) !important;
		color: var(--macos-menu-item-hover-color) !important;
	}

	.urlbarView-title-separator {
		margin-inline-end: 0.5rem !important;
		&::before {
			opacity: 0.6 !important;
			margin-inline-end: 0 !important;
		}
	}

	.urlbarView-row[dynamicType="onboardTabToSearch"] > .urlbarView-row-inner {
		width: auto !important;
	}

	.urlbarView-title strong {
		font-weight: inherit !important;
	}

	.urlbarView-body-inner {
		border: 0 !important;
	}

	.urlbarView-no-wrap {
		align-items: center !important;
	}

	.urlbarView-type-icon {
		display: none !important;
	}

	.urlbarView-row:is([type="switchtab"], [type="remotetab"])
		> .urlbarView-row-inner
		> .urlbarView-no-wrap
		> .urlbarView-action {
		padding: 1px 8px !important;
		margin-inline: 0.5em !important;
		border-radius: 8px !important;
		border: var(--macos-menu-border) !important;
		background-color: transparent !important;
	}

	:root:not([uidensity="compact"])
		&
		.urlbarView-row:not([type="tip"], [type="dynamic"]) {
		min-height: 0;
	}

	.urlbarView-title-separator,
	.urlbarView-url {
		visibility: visible !important;
	}

	.urlbarView-title-separator,
	.urlbarView-action {
		display: inherit !important;
	}

	/* Hide "..." button in entries under "recent search" */
	.urlbarView-button.urlbarView-button-menu {
		display: none !important;
	}

	&:not([noresults]) > .search-one-offs:not([hidden]) {
		border-top-color: var(--macos-menu-separator-color);
	}
}

/* Search engines buttons */
#urlbar .search-one-offs {
	display: none !important;
	padding: 4px 0 0 0 !important;

	&:not([hidden]) {
		align-items: center !important;
	}
}

#urlbar .searchbar-engine-one-off-item {
	min-width: 30px;
	height: 20px;
}

.searchbar-engine-one-off-item {
	--toolbarbutton-active-background: transparent !important;
	--toolbarbutton-hover-background: transparent !important;
	background: var(--macos-button-background) !important;
	box-shadow: var(--macos-button-box-shadow) !important;
	border: 1px solid var(--macos-button-border-color) !important;
	border-left-width: 0 !important;
	border-bottom-color: var(--macos-button-border-accent-color) !important;
	padding: 0 2px !important;
	margin: 0 !important;

	&:hover,
	&[selected] {
		background: var(--macos-button-hover-background) !important;
		color: unset !important;
	}

	&:first-child {
		border-radius: 5px 0 0 5px;
		border-left-width: 1px !important;
	}

	&.last-engine,
	&:last-child {
		border-radius: 0 5px 5px 0;
	}
}

#urlbar-anon-search-settings-compact {
	border-left-width: 1px !important;
	border-bottom: 1px solid var(--macos-button-border-accent-color) !important;
	border-radius: 5px;
	margin-left: 6px !important;
}
