/* Private window header bar's URL bar */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

:root[privatebrowsingmode="temporary"]
	#nav-bar
	toolbarspring:first-of-type:before {
	display: block;
	position: absolute;
	top: 15px;
	transform: translate(5px, 0);
	opacity: 0.3;
	background: url("../icons/user-not-tracked.svg") no-repeat;
	background-size: contain;
	width: 20px;
	height: 20px;
	content: "";
}

:root[privatebrowsingmode="temporary"]
	#nav-bar
	toolbarspring:first-of-type:-moz-lwtheme-brighttext:before {
	background-image: url("../icons/user-not-tracked-dark.svg");
}

@media (prefers-color-scheme: dark) {
	:root[privatebrowsingmode="temporary"]
		#nav-bar
		toolbarspring:first-of-type:before {
		display: block;
		position: absolute;
		top: 15px;
		transform: translate(5px, 0);
		opacity: 0.3;
		background: url("../icons/user-not-tracked-dark.svg") no-repeat;
		background-size: contain;
		width: 20px;
		height: 20px;
		content: "";
	}
}

#TabsToolbar .private-browsing-indicator {
	display: none !important;
}
