@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Prevent tab bar from becoming transparent */
.browser-titlebar {
	--inactive-titlebar-opacity: 1 !important;
}

/* Close tab button */
:root {
	--macos-fill-icon: red !important;
}

/* Tabs tool bar */
#TabsToolbar {
	--toolbarbutton-active-background: transparent !important;
	--toolbarbutton-hover-background: transparent !important;
	padding: 0 0 !important;

	.toolbar-items {
		margin-bottom: 0 !important;
	}

	.scrollbutton-up:not([disabled]):hover,
	.scrollbutton-down:not([disabled]):hover {
		background-color: var(--macos-tabbar-tab-active-hover-background) !important;
	}

	/* Removes spacers */
	.titlebar-spacer {
		display: none !important;
	}

	/* Remove blue line above tabs */
	.tab-line {
		display: none;
	}

	/* Remove shadow next to tab scroll buttons */
	.arrowscrollbox-overflow-start-indicator,
	.arrowscrollbox-overflow-end-indicator {
		display: none;
	}
}

/* Tabs bar */
#tabbrowser-tabs {
	&,
	#tabbrowser-arrowscrollbox {
		height: 36px !important;
		padding: 0 !important;
		margin: 0 !important;
		min-width: unset !important;
		min-height: unset !important;
		border: none !important;
	}
}

/* Tabs */
.tabbrowser-tab {
	color: var(--macos-tabbar-tab-color) !important;
	font-size: 1em !important;
	height: 36px !important;
	padding: 0 !important;

	&:hover {
		color: var(--macos-tabbar-tab-hover-color) !important;
	}

	&[selected] {
		font-weight: 600 !important;
		color: var(--macos-tabbar-tab-active-color) !important;
	}

	&:-moz-window-inactive {
		color: var(--macos-tabbar-tab-color) !important;
	}

	&[selected]:-moz-window-inactive {
		color: var(--macos-tabbar-tab-active-color) !important;
	}

	&:not([pinned]) {
		margin: 0 !important;

		&[first-tab] {
			margin-left: 8px !important;
		}

		&[last-tab] {
			margin-right: 8px !important;
		}

		/* Full width tabs */
		&:not([style^="max-width"]),
		&[style^="max-width: 100px !important;"] {
			max-width: 100% !important;
		}

		&:not([style^="max-width"]):not([fadein]),
		&[style^="max-width: 100px !important;"]:not([fadein]) {
			max-width: 0.1px !important;
		}
	}

	&[pinned][class*="identity-color-"] {
		display: flex;
	}
}

/* Centres tab content vertically */
.tab-content {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	margin-top: -1px !important;
	min-width: 100% !important;
	padding: 0 10px !important;
	gap: 4px !important;
}

/* Close button */
.close-icon {
	width: 16px !important;
	height: 16px !important;
	padding: 0 !important;
}

/* Tab close button */
.tab-close-button {
	/* Moves button to left */
	order: -1 !important;
	border: none !important;
	box-sizing: content-box !important;
	border-radius: 4px !important;
	width: 16px !important;
	height: 16px !important;
	padding: 0 !important;
	margin: 0 !important;
	opacity: 1 !important;
	visibility: hidden !important;
	list-style-image: url("../icons/window-close-symbolic.svg") !important;

	@media (prefers-color-scheme: dark) {
		list-style-image: url("../icons/window-close-symbolic-light.svg") !important;
	}

	:root:-moz-window-inactive {
		opacity: 0.18 !important;
	}

	.tabbrowser-tab:not([pinned]):hover & {
		visibility: visible !important;
	}

	:root:not(:-moz-window-inactive) {
		&:hover {
			background-color: var(--macos-button-hover-color) !important;
		}

		&:active {
			background-color: var(--macos-button-active-color) !important;
		}
	}
}

/* Clears pre-defined dimension */
.tab-icon-stack,
.tab-icon-image,
.tab-throbber,
.tab-throbber-fallback,
.tab-close-button,
.tab-sharing-icon-overlay {
	width: 16px !important;
	height: 16px !important;
	margin: 0 !important;
}

/* Small audio button hack */
.tab-audio-button {
	--button-size-icon-small: 16px !important;
	--button-min-height-small: 16px !important;
	width: 16px !important;
	height: 16px !important;
	margin: 0 !important;
	height: 100% !important;
	padding-top: 16px !important;
}

/* Centres tab content horizontally: left */
.tabbrowser-tab {
	& .tab-throbber,
	& .tab-throbber-fallback,
	&:not([busy]) .tab-icon-image,
	&[busy] .tab-icon-stack,
	&[image]:not([class*="identity-color-"]) .tab-icon-stack,
	&[image][class*="identity-color-"] > .tab-stack .tab-icon-stack {
		margin-inline: auto 0 !important;
	}
}

/* Tab label */
.tab-label-container {
	min-width: 0 !important;
	max-width: fit-content !important;
	/* Centres tab content horizontally: right */
	margin-right: 0 auto !important;

	&:not([selected], [multiselected]) {
		opacity: 0.5 !important;
	}

	.tabbrowser-tab:not([image]):not([busy]):not([progress]) & {
		margin-left: auto !important;
	}

	.tabbrowser-tab[soundplaying] &,
	.tabbrowser-tab[muted] & {
		margin-inline: 0 auto !important;
	}
}

/* change background of tabs based on mode to not rely on theme */
.tab-background {
	margin: 0 !important;
	padding: 0 !important;
	box-shadow: none !important;
	border: none !important;
	border-image: none !important;
	border-radius: 0 !important;
	outline: none !important;
	background-image: none !important;
	background-color: var(--macos-tabbar-tab-background) !important;

	&[selected] {
		background-color: var(--macos-tabbar-tab-active-background) !important;
		margin-inline: -1px !important;
	}

	.tabbrowser-tab[selected] & {
		margin-inline: 0 !important;
	}

	.tabbrowser-tab:hover &:not([selected]) {
		background-color: var(--macos-tabbar-tab-active-hover-background) !important;
	}

	/* Move container lines to the top */
	.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background {
		border-top: 3px solid var(--identity-tab-color) !important;
		& > .tab-context-line,
		& > .tab-bottom-line {
			display: none !important;
		}
	}
}

/* New container tab indicator */
.tabbrowser-tab[class*="identity-color-"] {
	.tab-content::before {
		content: "";
		display: block;
		background-image: var(--identity-icon);
		background-color: transparent !important;
		-moz-context-properties: fill;
		fill: var(--identity-icon-color);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		min-width: 10px;
		height: 10px;
		margin-right: 5px;
		margin-left: 0 !important;
		border-radius: 100%;
	}
	&[pinned],
	&[image],
	&[busy],
	&[progress] {
		.tab-content::before {
			right: -10px;
			top: -8px;
			position: relative;
			margin-right: -10px;
		}
	}
}

/* fix pip on small displays */
.tab-icon-overlay[pictureinpicture] {
	top: 3px !important;
	inset-inline-end: 13px !important;
	z-index: 1 !important;
	max-width: 10px;
	max-height: 10px;
}

/* fix spacing on too many tabs */
.tab-icon-overlay:not([pinned], [sharing]),
[pictureinpicture] {
	margin-inline-end: 4px !important;
	margin-inline-start: 4px !important;
}

/* Fix too many tabs text align */
.tab-close-button[pinned],
#tabbrowser-tabs[closebuttons="activetab"]
	> #tabbrowser-arrowscrollbox
	> .tabbrowser-tab
	> .tab-stack
	> .tab-content
	> .tab-icon-stack {
	margin-left: 0 !important;

	&[selected] {
		margin-left: auto !important;
	}
}

/* Tabs bar border */
.tabbrowser-tab .tab-background:not([selected]),
#TabsToolbar-customization-target .toolbarbutton-1 {
	border-top: 1px solid var(--macos-headerbar-border-color) !important;
}

/* Tabs View dropdown menu */
#allTabsMenu-searchTabs {
	margin: 0 !important;
	padding-inline: 12px !important;
}

.all-tabs-item:hover,
.all-tabs-item:hover:active,
#allTabsMenu-searchTabs:hover,
#allTabsMenu-searchTabs:hover:active {
	color: var(--macos-menu-item-hover-color) !important;
	background-color: var(--macos-menu-item-hover) !important;
}

.all-tabs-item:hover .toolbarbutton-text,
.all-tabs-item:active .toolbarbutton-text,
#allTabsMenu-searchTabs:hover .toolbarbutton-text,
#allTabsMenu-searchTabs:active .toolbarbutton-text {
	color: #fff !important;
}

.all-tabs-item:hover:active,
#allTabsMenu-searchTabs:hover:active {
	color: var(--macos-menu-item-hover-color) !important;
	background-color: var(--macos-menu-item-hover) !important;
}

/* Inactive tab title */
.tab-label-container:not([selected], [multiselected]) {
	opacity: 0.5 !important;
}

:root:not([privatebrowsingmode="temporary"]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs,
:root[privatebrowsingmode="temporary"]
	:is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button))
	+ #tabbrowser-tabs {
	border-inline-start: none !important;
	padding-inline-start: 0 !important;
	margin-inline-start: 0 !important;
}

/* Misc fixes */
stack[muted="true"] + .tab-label-container[textoverflow],
stack[soundplaying="true"] + .tab-label-container[textoverflow] {
	mask-image: none !important;
}
